<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="#">
    Welcome, {{firstName}}
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link active" href="/auth/changepwd">Change password</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-outline-secondary btn-sm " href="/auth/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="full-width text-center">
  <pre></pre><pre></pre><pre></pre>
  <div class="sticky-bottom alert alert-primary" role="alert">
    Your account expires {{accountExpires}}.
    <pre></pre>
    <a class="btn btn-sm btn-outline-dark btn-block" href="mailto:support@sense.dcc.ufmg.br" target="_blank" rel="noopener noreferrer">Ask for renewal</a>
  </div>
  <ul class="list-group text-center">
    <li class="list-group-item disabled">Your Groups</li>
    {{#each memberOf as |group|}}
      <li class="list-group-item">{{group}}</li>
    {{/each}}
  </ul>
</div>

</body>