<div class="full-width text-center">
  <h1 class="display-3">Welcome, {{login}}! You are an user!</h1>
  <h1 class="display-3">Your account expires:{{password}}</h1>
  <p class="lead"><strong>Voce pertence aos grupos:</strong> {{information.memberOf}}</p>
  <hr>
  <p class="lead">
      <a class="btn btn-primary btn-sm" href="/auth/changepwd" role="button">Change Password</a>
  </p>
  <p class="lead">
      <a class="btn btn-secondary btn-sm" href="/auth/logout" role="button">Logout</a>
  </p>
</div>