<div class="full-width text-center">
  <h5 class="display-5">Welcome, {{firstName}}</h5>
  <pre></pre><pre></pre><pre></pre>
  <h6 class="display-6">Your account expires: {{accountExpires}}</h6>
  <ul class="list-group text-center">
    <li class="list-group-item active">Your Groups</li>
    {{#each memberOf as |group|}}
      <li class="list-group-item">{{group}}</li>
    {{/each}}
  </ul>
  {{!-- <p class="lead"><strong>Your groups:</strong> {{memberOf}}</p> --}}
  <hr>
  {{!-- <p class="lead">
      <a class="btn btn-primary btn-sm" href="/auth/changepwd" role="button">Change Password</a>
  </p>
  <p class="lead">
      <a class="btn btn-secondary btn-sm" href="/auth/logout" role="button">Logout</a>
  </p> --}}
  <div class="user-page text-center">
  <p class="lead">
        <a class="btn btn-primary btn-sm" href="/auth/changepwd" role="button">Change Password</a>
    </p>
    <p class="lead">
        <a class="btn btn-secondary btn-sm" href="/auth/logout" role="button">Logout</a>
    </p>
  </div>
</div>
