<div class="full-width text-center">
  <h1 class="display-3">Welcome, {{information.principalName}}! You are an user!</h1>
  <h1 class="display-3">Your account expires:{{information.accountExpires}}</h1>
  <p class="lead"><strong>Voce pertence aos grupos:</strong> {{information.memberOf}}</p>
  <p class="lead"><strong>Please check your email</strong> to confirm your subscription to our newsletter.</p>
  <hr>
  <p>
      Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Logout</a>
  </p>
</div>