<div class="full-width text-center">
  <h1 class="display-3">Welcome, {{principalName}}! You are an admin!</h1>
  <h1 class="display-3">Your account expires:{{accountExpires}}</h1>
  <p class="lead"><strong>Voce pertence aos grupos:</strong> {{memberOf}}</p>
  <hr>
  <p class="lead">
      <a class="btn btn-primary btn-sm" href="/admin/register" role="button">Create User</a>
  </p>
  <p class="lead">
      <a class="btn btn-primary btn-sm" href="/auth/changepwd" role="button">Change Password</a>
  </p>
  <p class="lead">
      <a class="btn btn-secondary btn-sm" href="/auth/logout" role="button">Logout</a>
  </p>
</div>