<form method="POST" class="form-signin full-width text-center">
  <pre></pre>
  <pre></pre>
  <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>

  <label for="oldPassword" class="sr-only">Old password</label>
  <input type="password" name="oldPassword" class="form-control" placeholder="Old password" required autofocus>

  <label for="newPassword" class="sr-only">New password</label>
  <input type="password" name="newPassword" class="form-control" placeholder="New password" required autofocus>

  <label for="cnewPassword" class="sr-only">Confirm new password</label>
  <input type="password" name="cnewPassword" class="form-control" placeholder="Confirm new password" required autofocus>

  <button class="btn btn-md btn-primary btn-block" type="submit">Update Password</button>
  <pre></pre>
  <pre></pre>
  <pre></pre>
  <button class="btn btn-sm btn-secondary btn-block" type="button" onclick="window.location.href = '/';">Back</button>
  <pre></pre>
  
</form>
