<form method="POST" class="form-signup full-width text-center">
  <pre></pre>
  <pre></pre>
  <h1 class="h3 mb-3 font-weight-normal">New User</h1>
  <h6 class="mt-5 mb-3 text-muted" type="submit">After you click on Create account button, your user will be created</h6>


  <label for="login" class="sr-only">Username</label>
  <input type="text" name="login" class="form-control" placeholder="Username" required autofocus>

  <label for="email" class="sr-only">Email address</label>
  <input type="text" name="email" class="form-control" placeholder="Email address" required autofocus>

  <label for="name" class="sr-only">First Name</label>
  <input type="text" name="name" class="form-control" placeholder="First Name" required autofocus>

  <label for="lastName" class="sr-only">Last Name</label>
  <input type="text" name="lastName" class="form-control" placeholder="Last Name" required autofocus>

  <label for="password" class="sr-only">Password</label>
  <input type="password" name="password" class="form-control" placeholder="Password" required autofocus>

  <label for="cPassword" class="sr-only">Confirm Password</label>
  <input type="password" name="cPassword" class="form-control" placeholder="Confirm Password" required autofocus>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
  <h6 class="mt-5 mb-3 text-muted" type="submit">Already on this domain?</h6>
  <h6 class="text-muted" type="submit"><a href="/auth/signin">Sign in</a>.</h6>
</form>
