<form method="POST" class="form-signin full-width text-center">
  <img class="logo" src="/images/junket_logo_j_big_thin.ico" alt="Junket_Logo">
  <h1 class="h3 mb-3 font-weight-normal">Welcome to Junket</h1>
  <label for="login" class="sr-only">Login</label>
  <input type="text" name="login" class="form-control" placeholder="Login" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" name="password" class="form-control" placeholder="Password" required autofocus>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  <h6 class="mt-5 mb-3 text-muted" type="submit">New to this domain? <a href="/auth/signup">Create an account</a>.</h6>
  <pre></pre>
  <footer class="mt-5 mb-3 text-muted font-italic"><a href="https://github.com/ricardobf/junket">Junket</a> - Open Source Directory Manager &copy; 2020</footer>
</form>
