<img class="logo" src="/images/junket_logo_without_lines.png" alt="Junket_Logo">
<form action="/user" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Colocar Nome do Dominio talvez</h1>
  <label for="login" class="sr-only">Login</label>
  <input type="text" name="login" class="form-control" placeholder="Login" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" name="password" class="form-control" placeholder=Password required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  <button class="mt-5 mb-3 text-muted" type="submit">New User</button>
  <footer class="mt-5 mb-3 text-muted"><a href="https://github.com/ricardobf/junket">Junket</a> - Open Source Web App Directory Manager &copy; 2020</footer>
</form>
