<form action="/user" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">New User</h1>
  <h6 class="mt-5 mb-3 text-muted" type="submit">After you click on button create user, your user will be locked and your request will be send through e-mail for all domain admin users. They will analyze and unlock it.</h6>

  <label for="login" class="sr-only">First Name</label>
  <input type="text" name="login" class="form-control" placeholder="First Name" required autofocus>

  <label for="lastname" class="sr-only">Last Name</label>
  <input type="text" name="login" class="form-control" placeholder="Login" required autofocus>

  <label for="login" class="sr-only">Username</label>
  <input type="text" name="login" class="form-control" placeholder="Login" required autofocus>

  <label for="login" class="sr-only">First Name</label>
  <input type="text" name="login" class="form-control" placeholder="Login" required autofocus>

  <label for="login" class="sr-only">First Name</label>
  <input type="text" name="login" class="form-control" placeholder="Login" required autofocus>

  <label for="login" class="sr-only">First Name</label>
  <input type="text" name="login" class="form-control" placeholder="Login" required autofocus>

  <label for="password" class="sr-only">Password</label>
  <input type="password" name="password" class="form-control" placeholder=Password required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  {{!-- <h6 class="h6 mb-3 text-muted">New to this domain? <a href="/createaccount">Create an account</a>.</h6> --}}
  <h6 class="mt-5 mb-3 text-muted" type="submit">New to this domain? <a href="/createaccount">Create an account</a>.</h6>
  <pre></pre>
  <footer class="mt-5 mb-3 text-muted font-italic"><a href="https://github.com/ricardobf/junket">Junket</a> - Open Source Directory Manager &copy; 2020</footer>
</form>
